body{

    background-color: lightblue;
    color: maroon;


     & li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: darkblue;
    }
    & li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
    }
     li a:hover:not(.active) {
        background-color: lightcoral;
    }
    .active {
        background-color: yellowgreen;
    }
    .SDE {
        text-align: center;
    }
    .NDE {
        text-align: center;
    }


}