body{

    background-image: url("https://media.gettyimages.com/id/165793418/vector/seamless-fast-food-background.jpg?s=1024x1024&w=gi&k=20&c=RQ_xClRZ_MOf-u6WsJQDLAdT3WP0m5FM1vWOkEa74lY=");
    color: red;


     & li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: darkblue;
    }
    & li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
        font-family: Algerian;
        font-size: x-large;
    }
    & li a:hover:not(.active) {
        background-color: lightcoral;
    }
    .active {
        background-color: yellowgreen;
    }
    .SDE {
        text-align: center;
    }

    .NDE {
        font-size: xxx-large;
    }
    .NDE {
        width: 1886px;
        height: 68px;
        border: 5px solid blue;
        box-sizing: border-box;
        text-align: center;
    }




}